body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #1f2635;
}

.hero-text {
  padding-left: 5rem;
  color: #fff;
  width: 40%;
}

.hero-text h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.hero-text p {
  width: 70%;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 3.5rem;
}

.hero-text button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #1f2635;
  font-size: 1.5rem;
}

.flex-container {
  height: 85vh;
  display: flex;
  align-items: center;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  height: 70vh;
  max-width: 100vw;
}

.feature {
  width: 15rem;
}

.feature p {
  width: 80%;
}
