@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.container {
  margin: 10px;
  border: 3px solid black;
}

.container > nav {
  padding: 5px;
  border: 2px solid black;

  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products > div {
  width: 100px;
  height: 100px;
  background-color: brown;
  margin: 10px;
}

.products > div:hover {
  background-color: chartreuse;
  box-shadow: 2px 2px 2px;
  transform: scale(0.9);
}

footer > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  background-color: grey;
  height: 60px;
  margin: 0px;
}

nav {
  font-size: 1rem;
}

nav:hover {
  font-size: 2.4rem;
}

.fixed {
  position: fixed;
  top: 80vh;
  right: 0px;
  width: 25px;
  height: 25px;
  background-color: blue;
  margin: 20px;
}
.tel {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.fixed:hover + .tel {
  display: block;
}

@media (min-width: 440px) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .products > div {
    width: 180px;
  }

  footer > ul {
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
  }
  nav {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  .products > div {
    background-color: blue;
  }
  nav {
    font-style: italic;
    font-size: 2rem;
  }
  footer {
    display: none;
  }
}
